@import "./_variables";
@import "./_reset.scss";

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: $default;
  background-color: $grey;
  overflow-x: hidden;
  height: 100%;
}

main {
  margin: 0 auto;
  flex-grow: 1;
  width: 100%;
  padding: 5rem;
}

.wrapper {
  display: flex;
  gap: 3rem;
}

@media (max-width: 1400px) {
  .wrapper {
    flex-direction: column-reverse;
  }
}
